body {
    background-color: #fff;
    animation: dayNight 10s infinite 1.5s;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
}

.sun {
    height: 150px;
    width: 159px;
    border-radius: 50%;
    background-color: #fcd25b;
    border: px solid #fcd25b;
}

.shadow {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: #fff;
    top: -5px;
    left: 0px;
    animation: shadow 10s infinite 1.5s;
}

@keyframes shadow {
    0% {
        transform: translateX(150px);
        background-color: #fff;
    }
    50% {
        transform: translateX(-10px);
        background-color: #000;
    }
    100% {
        transform: translateX(-170px);
        background-color: #fff;
    }
}

@keyframes dayNight {
    0% {
        background-color: #fff;
    }
    50% {
        background-color: #000;
    }
    100% {
        background-color: #fff;
    }
}